body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.app {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
}

/* Input */
input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  font-weight: bold;
}

/* Loader */
.hidden {
  display: none;
}

#loader {
  margin-top: 10px;
}

/* Preview */
#preview video, #preview img {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

/* Download */
#downloads a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background: #38bdf8;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
